# .gitignore for ROS/catkin workspace

# Ignore ROS build and development artifacts
marker_fastslam_ws/build/
marker_fastslam_ws/devel/
marker_fastslam_ws/logs/

# Ignore compiled Python files within the workspace
marker_fastslam_ws/**/*.pyc

# Ignore Vim swap files within the workspace
marker_fastslam_ws/**/*.*

# Ignore backup files created by text editors within the workspace
marker_fastslam_ws/**/*~
